.footer {
  margin-top: 7.5rem;
  padding: 4.375rem 0 1.875rem;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #929292;
}
.footer__inner {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  width: 11.5rem;
  height: 3.9375rem;
  margin: 0 auto 3.125rem;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 11.5625rem;
}
.footer__content-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.footer__content-block {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
.footer__item--title {
  margin-bottom: 1.25rem;
  font-family: "Work+Sans", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: rgba(232, 232, 232, 0.589);
}
.footer__content-linck {
  font-family: "Work+Sans", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: rgba(232, 232, 232, 0.589);
  transition: text-decoration 0.3s ease;
}
.footer__content-linck:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.footer__item--link {
  font-weight: 400;
}
.footer__item--button {
  background-color: #FCD54C;
  color: #000000;
  font-family: "Work+Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  padding: 0.75rem 0.875rem;
  border: none;
  margin-top: 4.375rem;
  transition: background-color 0.3s ease;
}
.footer__item--button:hover {
  background-color: #856f1f;
  color: #FFFFFF;
}
.footer__info {
  display: flex;
  justify-content: space-between;
}
.footer__copy {
  font-weight: 300;
  font-size: 1.125rem;
  font-family: "Work+Sans", sans-serif;
  color: #E8E8E8;
}
.footer__social {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
}
@media (max-width: 1200px) {
  .footer {
    margin-top: 4.375rem;
    padding: 2.5rem 0 2.5rem;
  }
  .footer__logo {
    margin-bottom: 1.6875rem;
  }
  .footer__content {
    flex-direction: column;
    padding-bottom: 2.5rem;
  }
  .footer__item--title {
    position: relative;
  }
  .footer__item--title::after {
    content: url("./../../image/footer/arrow-down.svg");
    position: absolute;
    right: 0.3125rem;
    top: 1.375rem;
  }
  .footer__content-list {
    position: relative;
  }
  .footer__content-list::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.0625rem;
    background-color: #929292;
  }
  .footer__content-list:last-child {
    border-bottom: 1px solid rgba(146, 146, 146, 0.5);
    padding-bottom: 1.875rem;
  }
  .footer__content-list:last-child::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #929292;
  }
  .footer__content-block {
    opacity: 0;
    max-height: 0;
    transition: opacity 0.3s, max-height 0.3s;
  }
  .footer__content-block.footer-accordion--visible {
    margin-bottom: 2.5rem;
    opacity: 1;
  }
  .footer__item--title {
    margin-bottom: 0;
    padding-top: 0.9375rem;
  }
  .footer__item--button {
    position: absolute;
    right: 0;
    bottom: 1.875rem;
  }
}
@media (max-width: 480px) {
  .footer__logo {
    margin: 0 auto 3.125rem 0;
  }
  .footer__item--button {
    right: 0;
    left: 0;
    bottom: 2.5rem;
    margin: 0 auto;
    width: 200px;
  }
  .footer__info {
    flex-direction: column-reverse;
    row-gap: 0.9375rem;
    margin: 0 auto;
  }
  .footer__copy {
    font-size: 0.75rem;
    text-align: center;
  }
  .footer__content-list.footer--content {
    padding-bottom: 6.25rem;
  }
}/*# sourceMappingURL=footer.css.map */