.hero {
  position: relative;
}
.hero__slider {
  height: 970px;
  position: relative;
}
@media (max-width: 1400px) {
  .hero__slider {
    height: 690px;
  }
}
@media (max-width: 950px) {
  .hero__slider {
    height: 550px;
  }
}
@media (max-width: 730px) {
  .hero__slider {
    height: 372px;
  }
}
.hero__slider-card {
  background-image: url("./../../image/hero/slider1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__slider-content {
  display: flex;
  flex-direction: column;
  transform: translate(400px, 278px);
  padding: 44px 28px 50px;
  position: relative;
}
@media (max-width: 1400px) {
  .hero__slider-content {
    transform: translate(15.625rem, 12.5rem);
  }
}
@media (max-width: 1280px) {
  .hero__slider-content {
    transform: translate(15.625rem, 9.375rem);
  }
}
@media (max-width: 1160px) {
  .hero__slider-content {
    transform: translate(6.25rem, 6.25rem);
  }
}
@media (max-width: 950px) {
  .hero__slider-content {
    transform: translate(5rem, 4.375rem);
  }
}
@media (max-width: 820px) {
  .hero__slider-content {
    padding-top: 1.5rem;
    padding-left: 0.625rem;
  }
}
@media (max-width: 370px) {
  .hero__slider-content {
    transform: translate(40px, 40px);
  }
}
.hero__slider-content::before {
  content: url("./../../image/hero/decor-hero.png");
  position: absolute;
  left: -30px;
  top: -10px;
}
@media (max-width: 820px) {
  .hero__slider-content::before {
    content: url("./../../image/hero/decor-hero-2.png");
    left: -25px;
  }
}
.hero__slider-subtitle {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: "Work+Sans", sans-serif;
  margin-bottom: 1.375rem;
}
@media (max-width: 820px) {
  .hero__slider-subtitle {
    font-size: 0.625rem;
  }
}
.hero__slider-title {
  font-weight: 700;
  font-size: 6rem;
  font-family: "Space Grotesk", sans-serif;
  color: #FFFFFF;
  line-height: 104.166667%;
  text-transform: capitalize;
  max-width: 44.625rem;
  margin-bottom: 30px;
}
.hero__slider-title span {
  color: #FCD54C;
}
@media (max-width: 820px) {
  .hero__slider-title {
    font-size: 50px;
    max-width: 26.3125rem;
  }
}
@media (max-width: 500px) {
  .hero__slider-title {
    font-size: 50px;
    width: 231px;
  }
}
@media (max-width: 370px) {
  .hero__slider-title {
    font-size: 30px;
    margin-bottom: 80px;
  }
}
.hero__slider-linck {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.25rem;
  font-family: "Work+Sans", sans-serif;
  position: relative;
}
.hero__slider-linck::after {
  content: url("./../../image/hero/hero-right.svg");
  position: absolute;
  left: 170px;
}
@media (max-width: 820px) {
  .hero__slider-linck::after {
    content: url("./../../image/hero/hero-right-2.svg");
    left: 160px;
  }
}
@media (max-width: 370px) {
  .hero__slider-linck::after {
    left: 120px;
  }
}
@media (max-width: 820px) {
  .hero__slider-linck {
    font-size: 16px;
  }
}
@media (max-width: 370px) {
  .hero__slider-linck {
    font-size: 12px;
  }
}
.hero__slider-list {
  display: flex;
  column-gap: 10.625rem;
  background-color: #272727;
  padding: 3.125rem 3.75rem 3.125rem 3.75rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  transition: transform 0.3s;
}
@media (max-width: 1160px) {
  .hero__slider-list {
    column-gap: 2.1875rem;
    right: 10px;
  }
}
@media (max-width: 950px) {
  .hero__slider-list {
    padding-right: 10px;
  }
}
@media (max-width: 820px) {
  .hero__slider-list {
    padding-top: 0.6875rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.875rem;
  }
}
@media (max-width: 730px) {
  .hero__slider-list {
    bottom: -100px;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 370px) {
  .hero__slider-list::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 80%;
    background-color: #FCD54C;
    bottom: 0;
  }
}
.hero__slider-item {
  display: flex;
  column-gap: 0.9375rem;
}
@media (max-width: 730px) {
  .hero__slider-item {
    flex-direction: column;
    row-gap: 10px;
  }
}
@media (max-width: 370px) {
  .hero__slider-item {
    row-gap: 5px;
  }
}
.hero__slider-number {
  color: #FCD54C;
  font-weight: 700;
  font-size: 3.75rem;
  font-family: "Gilroy-ExtraBold";
}
@media (max-width: 950px) {
  .hero__slider-number {
    font-size: 40px;
  }
}
@media (max-width: 370px) {
  .hero__slider-number {
    font-size: 2.5rem;
  }
}
.hero__slider-desc {
  color: #FFFFFF;
  font-family: "Work+Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 162.5%;
  max-width: 7.1875rem;
}
@media (max-width: 950px) {
  .hero__slider-desc {
    font-size: 0.75rem;
  }
}
@media (max-width: 370px) {
  .hero__slider-desc {
    font-size: 0.625rem;
    max-width: 77px;
  }
}
.hero__slider-prevnext {
  display: flex;
  justify-content: space-around;
  column-gap: 36px;
  position: absolute;
  bottom: 3.375rem;
  left: 35.625rem;
  min-width: 140px;
}
@media (max-width: 1670px) {
  .hero__slider-prevnext {
    left: 30px;
  }
}
@media (max-width: 820px) {
  .hero__slider-prevnext {
    min-width: 100px;
    bottom: 0.875rem;
  }
}
@media (max-width: 370px) {
  .hero__slider-prevnext {
    bottom: 30px;
  }
}
.hero__slider-prev, .hero__slider-next {
  font-family: "Gilroy-ExtraBold";
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media (max-width: 950px) {
  .hero__slider-prev, .hero__slider-next {
    font-size: 10px;
  }
}
.hero__slider-line {
  position: relative;
  z-index: 2;
}
.hero__social {
  position: absolute;
  top: 2.5rem;
  right: 4.375rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
}
@media (max-width: 540px) {
  .hero__social {
    display: none;
  }
}
@media (max-width: 820px) {
  .hero__social {
    right: 1.875rem;
    row-gap: 0.625rem;
  }
}
.hero__social-img {
  width: 19px;
  height: 18px;
}
@media (max-width: 820px) {
  .hero__social-img {
    width: 13px;
    height: 12px;
  }
}

.swiper-slide {
  font-family: none;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}/*# sourceMappingURL=hero.css.map */