@import url("https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('./../../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
         url('./../../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
}
