$whiteColor: #FFFFFF;
$ellowColor: #FCD54C;
$blackColor: #000000;
$grayColor: #929292;
$fontWeight: 400;
$gilroyFonts: 'Gilroy-ExtraBold';
$worksansFonts: "Work+Sans", sans-serif;
$spaceFonts: "Space Grotesk", sans-serif;


